.contactForm {
  width: 90%;
  background-color: #3e2c41;
  margin: 2% 5% 1% 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
}

.contactForm button {
  margin: 50px;
}

.contactForm input {
  margin: 50px;
}
